#!/usr/bin/python

##### Needed by get_pending_processing_emails() ##########

# IMAP server hostname
# WARNING: if using gmail enable 'less secure apps access'
# https://support.google.com/accounts/answer/6010255?hl=en
host = 'imap.example.com'

# E-mail username
username = 'destination@example.com'

# b64encoded password for e-mail username
password = b'b64password'

# Path to file to store read e-mails
processed_email_db = 'processed_email.db'

# Optional. List of recognized "From:" e-mail addresses
acl_from_email_address = (
'trusted1@example.com',
)

##### Needed by send_email() ##########

smtp_server = 'smtp.example.com'

smtp_port = '587'

smtp_user = 'sender@example.com'

# B64encoded
smtp_password = b'b64encodedpassword' 

l_destination_email = (
'destination1@example.com',
'destination2@example.com',
)
