#!/usr/bin/python

# IMAP server hostname
# WARNING: if using gmail enable 'less secure apps access'
# https://support.google.com/accounts/answer/6010255?hl=en
host = 'imap.example.com'

# E-mail username
username = 'user@example.com'

# b64encoded password for e-mail username
password = b'b64encodedpassword'

# Path to file to store read e-mails
read_email_db = 'read_email.db'

# End Of Line for writing e-mail functions
eol = '<br>'

# Optional. List of recognized "From:" e-mail addresses
acl_from_email_address = (
'trusted1@example.com',
)
